@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
body{
    color: rgba(0, 0, 0, 0.8);
    background: #f2f2f2;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    margin: 0;
}
.shadow{
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}
.card{
    padding: 16px;
    background: #fff;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}
.loader{
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader button{
    background-color: #8bc34a;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}